@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
  --color-background: #f8fafc;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-background text-slate-900;
  }
}
